<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz Creator</title>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
    <img class="w3-image" src="img/rak.jpeg" alt="logo"/>

    <!-- Navbar (placed at the bottom of the header image) -->
    <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
        <button type="button" class="btn btn-danger home-button">Home</button>

        <button type="button" class="btn btn-danger create-quiz-button hidden">Create a Quiz!</button>
        <button type="button" class="btn btn-danger play-button hidden">Play!</button>
        <button type="button" class="btn btn-danger logout-button hidden">Logout</button>

        <button type="button" class="btn btn-danger login-modal-button hidden" data-toggle="modal" data-target="#login-modal">Login</button>
        <button type="button" class="btn btn-danger  register-modal-button hidden" data-toggle="modal" data-target="#register-modal">Register</button>
    </div>
</header>


<!-- Modals -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br/>
            <form action="/login-user" method="post">
                <input type="text" name="name" placeholder="Username" th:required="required"/>
                <input type="password" name="password" placeholder="Password" th:required="required"/>
                <input type="submit" name="login" class="login loginmodal-submit" value="Login"/>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Register</h1><br/>
            <form action="/save-user" method="post">
                <input type="text" name="name" placeholder="Username" th:required="required"/>
                <input type="password" name="password" placeholder="Password" th:required="required"/>
                <input type="email" name="email" placeholder="Email" th:required="required"/>
                <input type="submit" name="login" class="login loginmodal-submit" value="Register"/>
            </form>
        </div>
    </div>
</div>
<div th:if="${error}" class="w3-center">
    <br/>
    <h4  th:text="${error}">Error message</h4>
</div>
</body>
</html>
